DISCORD_CLIENT_ID=id to client
DISCORD_CLIENT_SECRET=secret to client
DISCORD_BOT_TOKEN=bot token
DISCORD_GUILD_ID=discord server id
DISCORD_NATION_ROLE_ID=nation role id
DISCORD_REDIRECT_URI=URI HERE
